@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans&family=Noto+Serif&display=swap');
@import 'colours';

body {
    height: 100%;
}

main {
    font-family: "Noto Serif", Helvetica, Arial, sans-serif;
    text-align: center;

    width: 1000px;
    margin: 0 auto;
}

p {
    text-align: left;
}

ul li {
    text-align: left;
    padding: 2px;
}

ul.skills, ul.experience {
    list-style: none;
    padding-left: 0;
    text-align: left;

    width: 800px;
    margin: 0 auto;

    li {
        display: inline-block;
        width: 25%;
        box-sizing: border-box;
        margin-bottom: 10px;
        vertical-align: top;
    }

    &.skills li {
        width: 25%;
    }

    &.experience li {
        width: 50%;
        padding-right: 10px;
    }
}


.hoverTitle {
    
    position: relative;
    top: 0px;
    left: -100px;
    width: 0;
    height: 0;

    span {
        border: 1px solid white;
        padding: 4px;
        position: absolute;
        width: 80px;
        height: 20px;
    }
}



h1 {
    font-family: "Noto Sans";
    border-bottom: 8px solid black;
    padding-bottom: 15px;
}

h2 {
    font-family: "Inconsolata";
    margin-top: 0;
}

h3 {
    text-align: left;
    padding-left: 5px;
    margin-top: 48px;
    border-bottom: 1px solid black;
}

h4 {
    text-align: left;
}

.dates {
    font-style: italic;
}

a {
    padding: 5px;
}

nav {
    display: block;
    margin-bottom: 10px;
    font-family: "Noto Sans";

    a {
        text-decoration: none;
        font-size: 14px;
    }

    em {
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
    }
}

.footer {
    margin-top: 200px;
    border-top: 1px solid black;
    padding-top: 4px;
}

.themeSwitcher {
    font-size: 24px;
    float: right;

    svg {
        padding: 4px;
        border-radius: 20px;
        vertical-align: center;

        &:hover {
            cursor: pointer;
        }

        &.selected {
            border: 1px solid white;
        }
    }
}